.toolbar{
  margin-top: 20px;
  background-color: #673ab7;
  color: white;
  height: 200px;
  text-align: center;
  padding-top: 100px;
}
/*.grid{*/
/*  text-align: justify;*/
/*}*/
.subtitle{
  color:white;
}
