<footer class="toolbar">
<!--  <mat-grid-list cols="6" >-->
<!--    <mat-grid-tile [colspan]="2">-->
      <mat-card-subtitle class="subtitle">#ArgentinaPrograma</mat-card-subtitle>
<!--    </mat-grid-tile>-->

<!--    <mat-grid-tile [colspan]="2">-->
      <mat-card-subtitle class="subtitle">#YoProgramo</mat-card-subtitle>
<!--    </mat-grid-tile>-->

<!--    <mat-grid-tile [colspan]="2">-->
      <mat-card-subtitle class="subtitle">2022</mat-card-subtitle>
<!--    </mat-grid-tile>-->
<!--  </mat-grid-list>-->
</footer>

