<body>
<div class="center-content">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
      <mat-card-subtitle>Complete los campos para ingresar al sistema</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <mat-divider></mat-divider>
      <div>

        <form class="example-form">


          <table class="example-full-width" cellspacing="0">
            <tr>
              <td>
                <mat-form-field class="example-full-width">
                  <mat-label>Email</mat-label>
                  <input matInput type="email">
                </mat-form-field>
              </td>

            </tr>
          </table>

          <p>
            <mat-form-field class="example-full-width">
              <mat-label>Password</mat-label>
              <input matInput type="password">
            </mat-form-field>

          </p>


        </form>
      </div>
    </mat-card-content>

    <mat-card-actions align="end">
      <button mat-button>
        INGRESAR
      </button>
    </mat-card-actions>
  </mat-card>
</div>
</body>
