<div class="card">
  <mat-card>
    <mat-card-title-group>
      <div class="div-header-titles">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <div class="div-header">
          <mat-card-title>Mis datos</mat-card-title>
          <mat-card-subtitle>{{user.information}}</mat-card-subtitle>
        </div>
      </mat-card-header>
      </div>
      <div class="div-header-option">
        <mat-card-actions align="end">
          <button mat-button (click)="edit()" matTooltip="{{editMode? 'CERRAR EDICION ':'EDITAR'}}">
            <mat-icon>{{editMode ? "close" : "edit"}}</mat-icon>
            {{editMode ? "" : "EDITAR"}}
          </button>
        </mat-card-actions>
      </div>
    </mat-card-title-group>

    <div class="main-div">


      <mat-card-content>
        <hr/>
        <mat-grid-list cols="6" class="grid">

          <mat-grid-list cols="12" class="grid">
            <mat-grid-tile [colspan]="2" [rowspan]="1">
              <mat-card-title>
                Nombre:
              </mat-card-title>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="2" [rowspan]="1">
              <mat-card-subtitle>{{user.name}}</mat-card-subtitle>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="3" [rowspan]="1">
              <div class="vl"></div>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="2" [rowspan]="1">
              <mat-card-title>Apellido:</mat-card-title>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="2" [rowspan]="1">
              <mat-card-subtitle>{{user.surname}}</mat-card-subtitle>
            </mat-grid-tile>

          </mat-grid-list>

          <hr/>
          <mat-grid-list cols="12" class="grid">

            <mat-grid-tile [colspan]="2" [rowspan]="1">
              <mat-card-title>Email:</mat-card-title>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="2" [rowspan]="1">
              <mat-card-subtitle>{{user.email}}</mat-card-subtitle>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="3" [rowspan]="1">
              <div class="vl"></div>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="2" [rowspan]="1">
              <mat-card-title>Años:</mat-card-title>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="2" [rowspan]="1">
              <mat-card-subtitle>{{user.age}}</mat-card-subtitle>
            </mat-grid-tile>

          </mat-grid-list>
          <hr/>

        </mat-grid-list>

      </mat-card-content>

    </div>

  </mat-card>
</div>
