<div class="card" [formGroup]="formUser">
  <mat-card>
    <mat-card-title-group [ngClass]="{'title': !logged}">
      <div class="div-header-titles">
        <mat-card-header>

<!--          foto de perfil-->
          <div mat-card-avatar class="example-header-image"></div>

<!--          mis datos seccion:-->
          <div class="div-header">

            <!--            titulo de la card-->
<!--            <div [ngClass]="{'card-title': !logged}">-->
              <mat-card-title>Mis datos</mat-card-title>
<!--            </div>-->

              <!--            va a aparecer esto si no estas logueado:-->

<!--            <div class="infoo" *ngIf="!editMode">-->
            <div class="infoo" >
              <mat-form-field appearance="fill" class="info-input" *ngIf="editMode">
                <mat-label>Mi informacion</mat-label>
                <textarea matInput formControlName="information" ></textarea>
              </mat-form-field>
              <mat-card-subtitle  *ngIf="!editMode">{{user.information}}</mat-card-subtitle>
            </div>

              <!--            va a aparecer esto si estas logueado:-->

<!--            <div class="info-input" *ngIf="editMode">-->
<!--              <mat-form-field appearance="fill" class="info-input" *ngIf="editMode">-->
<!--                <mat-label>Mi informacion</mat-label>-->
<!--                <textarea matInput formControlName="information" ></textarea>-->
<!--              </mat-form-field>-->
<!--            </div>-->

          </div>
          <div class="div-header-option" *ngIf="logged">
            <mat-card-actions align="end">
              <button mat-button (click)="save()" matTooltip="GUARDAR CAMBIOS REALIZADOS" *ngIf="editMode">
                <mat-icon>save</mat-icon>
                GUARDAR
              </button>
              <button mat-button (click)="edit()" matTooltip="{{editMode? 'CANCELAR Y CERRAR EDICION ':'EDITAR'}}">
                <mat-icon>{{editMode ? "close" : "edit"}}</mat-icon>
                {{editMode ? "" : "EDITAR"}}
              </button>
            </mat-card-actions>
          </div>
        </mat-card-header>
      </div>


    </mat-card-title-group>

    <div class="main-div">


      <mat-card-content>
        <hr/>
        <mat-grid-list cols="6" class="grid">

          <mat-grid-list cols="12" class="grid">
            <mat-grid-tile [colspan]="2" [rowspan]="1">
              <mat-card-title>
                Nombre:
              </mat-card-title>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="2" [rowspan]="1">
              <mat-card-subtitle *ngIf="!editMode">{{user.name}}</mat-card-subtitle>
              <mat-form-field appearance="outline" *ngIf="editMode">
                <mat-label>Nombre</mat-label>
                <input formControlName="name" matInput type="text"/>
              </mat-form-field>

            </mat-grid-tile>
            <mat-grid-tile [colspan]="3" [rowspan]="1">
              <div class="vl"></div>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="2" [rowspan]="1">
              <mat-card-title>Apellido:</mat-card-title>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="2" [rowspan]="1">
              <mat-card-subtitle *ngIf="!editMode">{{user.surname}}</mat-card-subtitle>
              <mat-form-field appearance="outline" *ngIf="editMode">
                <mat-label>Apellido</mat-label>
                <input matInput formControlName="surname" type="text"/>
              </mat-form-field>
            </mat-grid-tile>

          </mat-grid-list>

          <hr/>
          <mat-grid-list cols="12" class="grid">

            <mat-grid-tile [colspan]="2" [rowspan]="1">
              <mat-card-title>Email:</mat-card-title>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="2" [rowspan]="1">
              <mat-card-subtitle *ngIf="!editMode">{{user.email}}</mat-card-subtitle>
              <mat-form-field appearance="outline" *ngIf="editMode">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" type="email"/>
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="3" [rowspan]="1">
              <div class="vl"></div>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="2" [rowspan]="1">
              <mat-card-title>Años:</mat-card-title>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="2" [rowspan]="1">
              <mat-card-subtitle *ngIf="!editMode">{{user.age}}</mat-card-subtitle>
              <mat-form-field appearance="outline" *ngIf="editMode">
                <mat-label>Años</mat-label>
                <input matInput formControlName="age" type="number"/>
              </mat-form-field>

            </mat-grid-tile>

          </mat-grid-list>
          <hr/>

        </mat-grid-list>

      </mat-card-content>

    </div>

  </mat-card>
</div>
