.card{
  margin-top: 10px;
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;
}
.main-div{
  margin-top: 10px;
  margin-left: 5%;
  margin-right: 5%;
}

.p{
  font-size: 17px;
}
.grid{
  text-align: justify;
}
.vl {
  border-left: 1px solid;
  color: #333333;
  height: 500px;
}
.example-header-image {
  background-image: url('src/assets/fotoPerfil.jpg');
  background-size: cover;
  padding: 50px;
  /*background-color: green;*/
  transition: transform .2s; /* Animation */
  /*width: 200px;*/
  /*height: 200px;*/
  margin: 0 auto;
  z-index: 9999;
}
.example-header-image:hover {
  transform: scale(3); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
.div-header{
  padding: 50px 0 0 20px;
  text-align: center;
}
.div-header-option{
  padding: 15px 5% 0 20px;
  text-align: center;
}
.div-header-titles{
  padding: 10px 0 0 5%;
  text-align: center;
}
.info-input{
  width: 800px;
}
