<div class="card">
  <mat-card>

    <mat-card-title-group [ngClass]="{'title': !logged}">
      <mat-card-header class="title">
        <mat-card-title class="title">Proyectos</mat-card-title>
      </mat-card-header>
      <mat-card-actions align="end" *ngIf="logged">
        <button mat-button (click)="add()" *ngIf="editMode">
          <mat-icon>add</mat-icon>
          AGREGAR
        </button>
        <button mat-button (click)="edit()">
          <mat-icon>{{editMode ? "close" : "edit"}}</mat-icon>
          {{editMode ? "CERRAR EDICION" : "EDITAR"}}
        </button>
      </mat-card-actions>
    </mat-card-title-group>

    <div class="main-div">
      <mat-card-content>
        <hr/>
        <mat-grid-list cols="12" class="grid">
          <!-- <mat-grid-list cols="6" class="grid" *ngFor="let proyect of proyects">-->
          <mat-list>
            <mat-grid-tile [colspan]="6" [rowspan]="2" *ngFor="let proyect of proyects">
              <mat-list-item [lines]="5">

                <span matListItemTitle>{{proyect.name}}</span>
                <br>
                <span>{{proyect.description}}</span>
                <br>
                <span>{{proyect.period}}</span>
                <br>
                <br>

                <div class="buttons" *ngIf="editMode">
                  <button class="button" mat-mini-fab color="accent" matTooltip="EDITAR" (click)="editProyect(proyect)">
                    <mat-icon>edit</mat-icon>
                  </button>
                  <button class="button" mat-mini-fab color="warn" matTooltip="ELIMINAR" (click)="delete(proyect)">
                    <mat-icon>delete</mat-icon>
                  </button>
                </div>
                <hr>
              </mat-list-item>


            </mat-grid-tile>
          </mat-list>
        </mat-grid-list>
      </mat-card-content>

    </div>

  </mat-card>
</div>
