<div class="card">
  <mat-card>

    <mat-card-title-group>
      <mat-card-header>
        <mat-card-title class="title">Experiencia laboral</mat-card-title>
      </mat-card-header>
      <mat-card-actions align="end">
        <button mat-button>
          <mat-icon>edit</mat-icon>
          EDITAR
        </button>
      </mat-card-actions>
    </mat-card-title-group>

    <div class="main-div">


      <mat-card-content>
        <hr/>
        <mat-grid-list cols="6" class="grid">

          <mat-list class="example-list-wrapping" *ngFor="let experience of experiences">
            <mat-list-item lines="5">
              <span matListItemTitle>{{experience.title}}</span>
              <span>{{experience.description}}</span>
              <div class="example-button-container">
                <button mat-mini-fab color="accent" matTooltip="EDITAR">
                  <mat-icon>edit</mat-icon>
                </button>
                <button mat-mini-fab color="warn" matTooltip="ELIMINAR">
                <mat-icon>delete</mat-icon>
              </button>
              </div>

            </mat-list-item>

          </mat-list>

        </mat-grid-list>

      </mat-card-content>

    </div>

  </mat-card>
</div>
