.card{
  margin-top: 20px;
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;
}
.main-div{
  margin-top: 10px;
  margin-left: 5%;
  margin-right: 5%;
}
.title{
  text-align: center;
  justify-content: center;
}
.p{
  font-size: 17px;
}
.description{
  width: 500px;
  height: 100px;
  overflow-wrap: break-word;
  word-wrap: break-word;
}
.grid{
  text-align: justify;
  overflow-wrap: break-word;
}
.vl {
  border-left: 1px solid;
  color: #333333;
  height: 500px;
}
.buttons{
  text-align: right;
}
.button{
  box-shadow: unset;
}

