<h1 mat-dialog-title>Registrar experiencia laboral</h1>
<div mat-dialog-content  style="width: 500px">
  <mat-form-field appearance="fill" style="width: 100%">
    <mat-label>Nombre</mat-label>
    <input matInput type="text" [(ngModel)]="data.title">
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill" style="width: 100%">
    <mat-label>Descripcion</mat-label>
    <textarea matInput type="text" [(ngModel)]="data.description"></textarea>
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill" style="width: 100%">
    <mat-label>Periodo de tiempo</mat-label>
    <input matInput  type="text" [(ngModel)]="data.period">
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill" style="width: 100%">
    <mat-label>Lugar</mat-label>
    <input matInput  type="text" [(ngModel)]="data.place">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Calcelar</button>
  <button mat-button cdkFocusInitial (click)="save()">Actualizar</button>
</div>
