<h1 mat-dialog-title>{{data.title}}</h1>
<div mat-dialog-content>
  <mat-form-field appearance="fill">
    <mat-label>Habilidad</mat-label>
    <input matInput [(ngModel)]="data.title">
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>Porcentage</mat-label>
    <input matInput [(ngModel)]="data.percentage">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Calcelar</button>
  <button mat-button [mat-dialog-close]="data.title" cdkFocusInitial>Actualizar</button>
</div>
