<div class="card">
  <mat-card>

    <mat-card-title-group>
      <mat-card-header>
        <mat-card-title class="title">Habilidades</mat-card-title>
      </mat-card-header>
      <mat-card-actions align="end">
        <button mat-button>
          <mat-icon>edit</mat-icon>
          EDITAR
        </button>
      </mat-card-actions>
    </mat-card-title-group>

    <div class="main-div">

      <mat-card-content>
        <hr/>
        <mat-grid-list cols="12" class="grid" >
<!-- <mat-grid-list cols="6" class="grid" *ngFor="let proyect of proyects">-->
          <mat-list class="example-list-wrapping">
            <mat-grid-tile [colspan]="3" [rowspan]="2" *ngFor="let skill of skills">
              <mat-list-item lines="5">

                <span matListItemTitle>{{skill.title}}</span>

                <mat-progress-spinner
                  class="example-margin"
                  [color]="color"
                  [mode]="mode"
                  [value]=skill.percentage>
                </mat-progress-spinner>

              </mat-list-item>
            </mat-grid-tile>

          </mat-list>

        </mat-grid-list>

      </mat-card-content>

    </div>
<!--    <div (scroll)="onScroll()">-->
<!--      &lt;!&ndash; Your content here &ndash;&gt;-->
<!--      <ng-container *ngIf="showSpinner">-->
<!--        <mat-spinner [value]="showSpinner ? 10: 50"   [mode]="mode"-->
<!--        ></mat-spinner>-->
<!--      </ng-container>-->
<!--    </div>-->
  </mat-card>
</div>
