<app-header></app-header>
<div class="content" role="main">
  <app-banner></app-banner>

  <app-separator-section></app-separator-section>
  <app-experience-section></app-experience-section>

  <app-separator-section></app-separator-section>
  <app-education-section></app-education-section>

  <app-separator-section></app-separator-section>
  <app-skills></app-skills>

  <app-separator-section></app-separator-section>
  <app-proyect-section></app-proyect-section>

<!--  <app-separator-section></app-separator-section>-->

</div>
<app-footer></app-footer>
