<div class="card">
  <mat-card>

    <mat-card-title-group>
      <mat-card-header>
        <mat-card-title class="title">Educacion </mat-card-title>
      </mat-card-header>
      <mat-card-actions align="end">
        <button mat-button>
          <mat-icon>edit</mat-icon>
          EDITAR
        </button>
      </mat-card-actions>
    </mat-card-title-group>

    <div class="main-div">


      <mat-card-content>
        <hr/>
        <mat-grid-list cols="6" class="grid" *ngFor="let experience of experiences">

          <mat-list class="example-list-wrapping">
            <mat-list-item lines="3">
              <span matListItemTitle>{{experience.type}} {{experience.title == null?"": " - "+experience.title}}</span>
              <span>{{experience.period}}</span><br>
              <span>{{experience.place}}</span>
            </mat-list-item>
          </mat-list>

        </mat-grid-list>

      </mat-card-content>

    </div>

  </mat-card>
</div>
